<h1 class="title">Todos App</h1>

<mat-card>
  <mat-card-content>Total Todos: {{ totalTodos }}</mat-card-content>
</mat-card>

<br />

<form (submit)="saveTodo()" [formGroup]="formGroup">
  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />
    <mat-hint>Hit enter to save!!!</mat-hint>
  </mat-form-field>
</form>

<ul>
  <li *ngFor="let task of tasks$ | async">
    {{ task.title }}
  </li>
</ul>
