<h3 class="title">All Task</h3>

<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
      *ngFor="let task of tasks$ | async; let index = index"
      [colspan]="'1'"
      [rowspan]="'2'"
      [style.background]="'#cfc9f8'"
    >
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ index + 1}}. {{ task.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-actions align="end">
            <button mat-button (click)="editTask(task)" *ngIf="!task.completed">Mark as Completed</button>
            <button mat-button (click)="deleteTask(task)">Delete</button>
        </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
